.title{
    color: rgb(123, 109, 109);
    font-size: 48px;
    font-weight: bold;
    
  }
  body {
    text-align: center;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }

  .header-container {
    background-color: #333;
    padding: 20px 0;
    color: #fff;
    margin-bottom: 20px;
  }

  .menu-container {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav li {
    margin-right: 10px;
  }

  nav a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #f2f2f2;
  
    padding: 10px;
    margin: 0 50px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }

  nav a:hover {opacity: 1;}


    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 400px;
    }

    .form-box {
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 20px;
      width: 400px;
    }

    label {
      display: block;
      margin-bottom: 10px;
    }

    input,
    textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    input[type="submit"] {
      background-color: #333;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #555;
    }

    /*calendario*/

    #calendar {
      font-family: Arial, sans-serif;
  }
  
  #calendar table {
      border-collapse: collapse;
      width: 100%;
  }
  
  #calendar th, #calendar td {
      border: 1px solid #000000bd;
      padding: 8px;
      text-align: center;
  }
  
  #calendar th {
      background-color: #ffffff;
  }
  
  #calendar td {
      height: 80px;
  }
  
  #calendar .today {
      background-color: #e77777;
  }
  
  #calendar .selected {
      background-color: #a0a0a0;
      color: #fff;
  }
    /*fin calendario*/

    /* calculadora */

    #calculator {
      width: 200px;
      margin: 0 auto;
      text-align: center;
  }
  
  #result {
      width: 90%;
      margin-bottom: 10px;
  }
  
  #buttons button {
      width: 30px;
      height: 40px;
      margin: 5px;
  }
  /*fin calculadora*/


  /*notas*/
  #notes {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

#note-input {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

#note-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
    overflow-y: auto;
}

.note-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

.note-item button {
    margin-left: 10px;
}

button {
    margin-top: 10px;
}

/*fin notas*/

/*noticias*/
#news-list {
  width: 600px;
  margin: 0 auto;
}

.news-item {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.news-item h2 {
  margin: 0;
  font-size: 18px;
}

.news-item p {
  margin-top: 5px;
  color: #555;
}

/*fin noticias*/

/* MUSICA */
h1 {
  text-align: center;
}

#song-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-top: 20px;
}

#song-list li {
  cursor: pointer;
  margin-bottom: 10px;
}

#content {
  padding: 20px;
}

#player-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*fin musica*/
